body{
    margin: 0;
    background-color: #000000
}

.container{
    display: block;
}

.title{
    color: white;
    text-align: center;
}
.title h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: white;
}
.image{
    background-size: cover;
    background-repeat: no-repeat;
}
.image img{
    width: 100%;
}
.image-info{
    float: right;
    width: 399px;
    height: 237px;
}
.information{
    padding: 20px;
    margin-left: 15em;
    margin-right: 15em;
    height: 348px;
}
.information p{
    padding: 5px;
}
.information img{
    padding: 20px;
    
}
.characteristics{
    background-color: #221e17;
    text-align: center;
    height: 348px;
    padding: 25px;
    margin-top: 25px;
}
.characteristics h2{
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.icon-list{
    list-style: none;
}
.icon-list li{
    position: relative;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 50px;
}

.icon-list li i{
    position: absolute;
    top: 0;
    transform: translate(118%);
    margin-right: 10px;
    font-size: 25px;
}

.gallery{
    flex-wrap: nowrap;
}
.gallery img{
    width: 316px;
    height: 202px;
}