h1{
    color: #cdb4db;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
p{
    color: #ffc8dd;
    margin: auto 10em 2em;
    border: 2px solid #ffafcc;
    padding:1em;
}

a{
    margin: 10em 5em;
}

a:link{
    color: blueviolet;
    text-decoration: none;
}

a:visited{
    color: red;
}
a:hover{
    color: blue;
    text-decoration: underline;
}